* {
    padding: 0;
    margin: 0 auto;
}


main .container {
    width: 100%;
    padding-top: 100px;
}

#dUsr, #dPass, #dSm, #dFPass, #dCNUsr{
    width: 50%;
    margin: 0 auto;
}

#dSm button {
    width: 150px;
}

#dSm, #dFPass, #dCNUsr {
    padding-top: 15px;
}


main .container input {
    width: 150px;
}




#ra {
    width: 100%;
    height: 200px;
    background-color: rgb(61, 138, 247);
    text-align: center;
}
